.authorHeader {
  display: grid;
  grid-auto-flow: column;
  justify-items: center;
  grid-template: 1fr / 1fr min-content min-content 1fr;
  grid-template-areas: ". author git .";

  position: fixed;
  top: 0;

  color: #000000;
  font-weight: bold;

  background-color: #70d300;
  border-bottom: 1px solid #1f1f1f;
  box-shadow: 1px 1px 1px rgb(54, 54, 54);
  width: 100%;
}

.authorP {
  grid-area: author;
}

.git {
  grid-area: git;
}
