.authorHeader {
  display: grid;
  justify-items: center;

  position: fixed;
  top: 0;

  color: #000000;
  font-weight: bold;
  background-color: #70d300;
  border-bottom: 1px solid #1f1f1f;
  box-shadow: 1px 1px 1px rgb(54, 54, 54);
  width: 100%;
}
