:root {
  --background_1: #fff4d9;
  --background_2: #efdeb4;
  --background_3: #baa879;
  --font_1: #1f1f1f;
  --primary_1: #b4c4f0;
  --primary_2: #5a6da3;
  --primary_3: #d1d9f0;
}

.cvForm {
  display: grid;
  grid-auto-rows: min-content;
  gap: 10px;

  background-color: var(--background_2);
  border-radius: 5px;

  width: 100%;
  max-width: 900px;

  margin: 20px;
  margin-top: 40px;
  padding: 16px;
}

.cvForm input,
.cvForm textarea {
  color: var(--font_1);
  font-size: 1.1rem;
  background-color: var(--background_1);
  border: 2px solid var(--primary_1);
  border-radius: 5px;
}

.cvForm input {
  min-height: 30px;
}

.cvForm textarea {
  min-height: 60px;
}

.cvForm label {
  color: var(--font_1);
  font-weight: bold;
  font-size: 1.2rem;
}

.cvForm button {
  color: var(--font_1);
  font-weight: bold;
  background-color: var(--primary_1);
  border: 2px solid var(--primary_2);
  border-radius: 5px;

  min-height: 45px;
}

.cvForm button:hover,
.cvForm button:focus {
  background-color: var(--primary_3);
  border-color: var(--primary_1);
}

.cvForm button:active {
  background-color: var(--primary_2);
}

section {
  border: 3px solid var(--primary_1);
  border-radius: 5px;
  padding: 10px;
}
