:root {
  --background_1: #fff4d9;
  --background_2: #efdeb4;
  --background_3: #baa879;
  --font_1: #1f1f1f;
  --primary_1: #b4c4f0;
  --primary_2: #5a6da3;
}

.cvForm {
  display: grid;

  max-width: 900px;
}

.basicInfoSection {
  display: grid;

  color: var(--font_1);
  background-color: var(--background_2);
}

.basicInfoSection input {
  background-color: var(--background_1);
  border: 2px solid var(--primary_1);
  border-radius: 5px;
}
