:root {
  --background_1: #fff4d9;
  --background_2: #efdeb4;
  --background_3: #baa879;
  --font_1: #1f1f1f;
  --primary_1: #b4c4f0;
  --primary_2: #5a6da3;
  --primary_3: #d1d9f0;
}

.cvPreview {
  display: grid;
  grid-auto-rows: min-content;
  gap: 10px;
  justify-items: center;

  background-color: var(--background_2);
  border-radius: 5px;

  width: 100%;
  max-width: 900px;

  margin: 20px;
  padding: 16px;
}

.cvPreview button {
  color: var(--font_1);
  font-weight: bold;
  background-color: var(--primary_1);
  border: 2px solid var(--primary_2);
  border-radius: 5px;

  min-height: 45px;
}

.cvPreview button:hover {
  background-color: var(--primary_3);
  border-color: var(--primary_1);
}

.cvPreview button:active {
  background-color: var(--primary_2);
}

.cvContainer {
  background-color: white;

  max-width: 850px;
  aspect-ratio: 8.5 / 11;
}
