:root {
  --background_1: #fff4d9;
  --background_2: #efdeb4;
  --background_3: #baa879;
  --font_1: #1f1f1f;
  --primary_1: #b4c4f0;
  --primary_2: #5a6da3;
  --primary_3: #d1d9f0;
}

.cvPreview {
  display: grid;
  grid-auto-rows: min-content;
  gap: 10px;

  background-color: var(--background_2);
  border-radius: 5px;

  width: 100%;
  max-width: 900px;

  margin: 20px;
  padding: 16px;
}

.cvPreview button {
  color: var(--font_1);
  font-weight: bold;
  background-color: var(--primary_1);
  border: 2px solid var(--primary_2);
  border-radius: 5px;

  min-height: 45px;
}

.cvPreview button:hover {
  background-color: var(--primary_3);
  border-color: var(--primary_1);
}

.cvPreview button:active {
  background-color: var(--primary_2);
}

.cvContainer {
  justify-self: center;

  background-color: white;
  border: 1px solid black;
  box-shadow: 1px 1px 2px grey;

  width: 600px;
  aspect-ratio: 8.5 / 11;

  padding-left: 28px;
  padding-right: 28px;
}

.basicInfo {
  display: grid;
  justify-items: end;
}

.basicInfo p {
  margin: 0;
  margin-top: 8px;
  white-space: pre-wrap;
  text-align: end;
}

.cvContainer .summary {
  justify-self: start;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .cvContainer {
    font-size: 8px;
    width: 300px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .cvContainer {
    font-size: 12px;
    width: 450px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .cvContainer {
    font-size: 16px;
    width: 600px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}

@media print {
  body * {
    display: none;
  }

  .cvContainer,
  .cvContainer * {
    display: grid;
  }

  .cvContainer {
    border: none;
    box-shadow: none;
    height: 100vh;
    width: 100vw;
  }
}
