.dynamicEntriesContainer {
  display: grid;
  grid-auto-flow: row;
  gap: 10px;
}

.dynamicEntriesContainer section {
  border-style: dotted;
  border-left: none;
  border-right: none;
  border-bottom: none;
  border-radius: 0;
  padding: 0;
}
